
/* Your CSS Code here. */
*{
	margin:0px;
	padding:0px;
}
.main{
	width:200px;
	background-color:purple;
	/* border-left-color:10px solid green; */
	border-left: 5px solid green;
	padding:10px;
}
	
}
.heading{
	font-size:20px;
	color:white;
	text-decoration:underline;
}




